<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>URL Shortener</title>
    <link rel="stylesheet" href="{{ url_for('static', path='css/styles.css') }}">
</head>
<body>
    <button class="theme-toggle" id="themeToggle" aria-label="Toggle theme">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
            <path d="M12 2.25a.75.75 0 01.75.75v2.25a.75.75 0 01-1.5 0V3a.75.75 0 01.75-.75zM7.5 12a4.5 4.5 0 119 0 4.5 4.5 0 01-9 0zM18.894 6.166a.75.75 0 00-1.06-1.06l-1.591 1.59a.75.75 0 101.06 1.061l1.591-1.59zM21.75 12a.75.75 0 01-.75.75h-2.25a.75.75 0 010-1.5H21a.75.75 0 01.75.75zM17.834 18.894a.75.75 0 001.06-1.06l-1.59-1.591a.75.75 0 10-1.061 1.06l1.59 1.591zM12 18a.75.75 0 01.75.75V21a.75.75 0 01-1.5 0v-2.25A.75.75 0 0112 18zM7.758 17.303a.75.75 0 00-1.061-1.06l-1.591 1.59a.75.75 0 001.06 1.061l1.591-1.59zM6 12a.75.75 0 01-.75.75H3a.75.75 0 010-1.5h2.25A.75.75 0 016 12zM6.697 7.757a.75.75 0 001.06-1.06l-1.59-1.591a.75.75 0 00-1.061 1.06l1.59 1.591z" />
        </svg>
    </button>
    <div class="container">
        <h1>URL Shortener</h1>
        <form id="shorten-form" method="post" action="/url" autocomplete="off">
            <div class="form-group">
                <label for="targetUrl">Target URL</label>
                <input type="url" id="targetUrl" name="target_url" placeholder="Enter a valid URL" required autocomplete="off">
            </div>
            <div class="form-group">
                <label for="customKey">Custom Key (Optional)</label>
                <input type="text" id="customKey" name="custom_key" placeholder="Enter a custom key" autocomplete="off">
            </div>
            <div class="form-group">
                <label for="password">Password (Optional)</label>
                <input type="password" id="password" name="password" placeholder="Set a password for this URL" autocomplete="new-password">
            </div>
            <div class="form-group">
                <label for="expirationDate">Expiration Date (Optional)</label>
                <input type="datetime-local" id="expirationDate" name="expiration_date" autocomplete="off">
            </div>
            <button type="submit">Shorten URL</button>
        </form>        
        <div id="result" class="result-box" style="display: none;">
            <h5>Shortened URL:</h5>
            <a id="shortenedUrl" href="#" target="_blank"></a>
            <br>
            <br>
            <h5>Expires at:</h5>
            <a id="expireAt"></a>
            <br>
            <br>
            <h5>QR Code:</h5>
            <img id="qrCode" src="#" alt="QR Code" style="max-width: 100%; height: auto;">
        </div>
        <div id="error" class="error-message" style="display: none;"></div>
    </div>

    <script>
        const themeToggle = document.getElementById('themeToggle');
        const prefersDarkScheme = window.matchMedia('(prefers-color-scheme: dark)');

        function toggleTheme() {
            document.body.classList.toggle('light-mode');
            localStorage.setItem('theme', document.body.classList.contains('light-mode') ? 'light' : 'dark');
        }

        if (localStorage.getItem('theme') === 'light' || (!prefersDarkScheme.matches && !localStorage.getItem('theme'))) {
            document.body.classList.add('light-mode');
        }

        themeToggle.addEventListener('click', toggleTheme);

        // Check if user is authenticated
        function isAuthenticated() {
            return localStorage.getItem('access_token') !== null;
        }

        // Refresh token function
        async function refreshToken() {
            const refreshToken = localStorage.getItem('refresh_token');
            if (!refreshToken) {
                throw new Error('No refresh token available');
            }

            const response = await fetch('/refresh-token', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ refresh_token: refreshToken }),
            });

            if (!response.ok) {
                throw new Error('Failed to refresh token');
            }

            const data = await response.json();
            localStorage.setItem('access_token', data.access_token);
            return data.access_token;
        }

        // Authenticated fetch function
        async function authenticatedFetch(url, options = {}) {
            if (!isAuthenticated()) {
                window.location.href = 'login.html';
                return;
            }

            const accessToken = localStorage.getItem('access_token');
            options.headers = {
                ...options.headers,
                'Authorization': `Bearer ${accessToken}`,
            };

            try {
                const response = await fetch(url, options);
                if (response.status === 401 && response.statusText === 'Token has expired') {
                    const newAccessToken = await refreshToken();
                    options.headers['Authorization'] = `Bearer ${newAccessToken}`;
                    return fetch(url, options);
                }
                return response;
            } catch (error) {
                console.error('Error in authenticatedFetch:', error);
                throw error;
            }
        }

        document.getElementById("shorten-form").addEventListener("submit", async (event) => {
            event.preventDefault();

            const form = event.target;
            const formData = new FormData(form);

            const url = "/url";
            const options = {
                method: "POST",
                body: JSON.stringify(Object.fromEntries(formData)),
                headers: {
                    "Content-Type": "application/json"
                }
            };

            try {
                const response = await authenticatedFetch(url, options);

                if (!response.ok) {
                    const errorData = await response.json();
                    document.getElementById("error").style.display = "block";
                    document.getElementById("error").textContent = errorData.detail || "An error occurred.";
                    document.getElementById("result").style.display = "none";
                    return;
                }

                const data = await response.json();
                const fullUrl = `/${data.url_key}`;

                document.getElementById("expireAt").textContent = data.expires_at || "No time specified";
                document.getElementById("shortenedUrl").textContent = fullUrl;
                document.getElementById("shortenedUrl").href = fullUrl;

                const qrCodeUrl = `/${data.url_key}/qr`;
                document.getElementById("qrCode").src = qrCodeUrl;

                document.getElementById("result").style.display = "block";
                document.getElementById("error").style.display = "none";
            } catch (error) {
                document.getElementById("error").style.display = "block";
                document.getElementById("error").textContent = "Failed to connect to the server.";
                document.getElementById("result").style.display = "none";
            }
        });

        // Check authentication on page load
        if (!isAuthenticated()) {
            window.location.href = 'login';
        }
    </script>
</body>
</html>